<router-outlet></router-outlet>
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h4 class="card-header">Post to forum</h4>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <input type="text" pInputText placeholder="Input text to post to forum" [(ngModel)]="forumPost"/>
                    </div>
                </div>  
                 <div class="row">
                        <div class="col">
                            <input type="text" pInputText placeholder="Input your name" [(ngModel)]="author"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button 
                             pButton
                             label="Post" class="p-button-raised "
                             icon="pi pi-check " iconPos="right"
                             (click)="onSubmitEntry()">
                        </button>
                        </div>
                    </div>
            </div>
        </div>
</div>

<section>
    <div id="forumposts"></div>
   <!--<div id="forumposts" [innerHTML]="entries"></div> --> 
</section>
</body>

</html>