
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container-md my-3" id="loginContainer">
        <div class="card">
            <h4 class="card-header">Sign in</h4>
            <div class="card-body">
                <div class="p-grid p-fluid" id="loginData">

                    <div class="p-col-12 p-md-2">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input name="username" type="username" pInputText placeholder="Username" [(ngModel)]="username">
                        </div>
                    </div>
                    <div class="p-col-12 p-md-2 ">
                        <div class="p-inputgroup ">
                            <span class="p-inputgroup-addon "><i class="pi pi-lock "></i></span>
                            <p-password name="password" [(ngModel)]="password" InputText placeholder="Password" [feedback]="false" [toggleMask]="true"></p-password>
                            
                        </div>
                    </div>
                    <div class="form-group ">

                    </div>

                    <div class="p-col-12 p-md-2 " id="buttonGroup ">

                        <span class="btn-group ">   
                            <div class="form-group ">
                            <button 
                             id="loginButton "
                             pButton pRipple type="Login "
                             label="LogIn " class="p-button-raised "
                             icon="pi pi-check " iconPos="right"
                             (click)="onSubmit() " [disabled] = "isLoading ">
                                 <span *ngIf="isLoading " class="spinner-border spinner-border-sm mr-1 "></span>

                        </button>
                    </div>
                    <div class="form-group ">
                        <button pButton pRipple type="button " label="Register " class="p-button-raised p-button-text " (click)="switchToRegistration()">
                            </button>
                    </div>

                    </span>

                </div>

                <!-- Form Group for binding. -->

            </div>
        </div>
    </div>
    </div>
</body>

</html>