@import "..//../..//..//node_modules/primeicons/primeicons.css";
#registerData {
    width: 15rem;
    min-height: 400px;
    vertical-align: center;
    padding-top: 0;
}

#registerContainer {
    max-width: 600px;
}

#registerButton {
    margin-right: 50px;
}

#buttonGroup {
    margin-top: 10px;
    margin-right: 10px;

}